body{
    background-image: url(img/s.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    min-height: 100svh;
}
img{
    width: 75px;
    height: auto; 
} 
.tmr{
    background-color: rgb(255, 193, 7);
    padding: .3rem 1rem; 
}
.row{
    /* background-color: aquamarine;  */
    /* min-height: 90vh; */
    flex-direction: column;
    flex-wrap: nowrap;
}
tbody, thead{
    font-size: 0.8rem;
}
@media (max-width: 768px) { 
    body{ 
        background-position: left;
    }
    img{
        width: 65px;
        height: auto; 
    } 
    
 }